.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba($color_black, 0.85);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  &__content {
    @include absCenter;
    background-color: $color-white;
    width: 75%;
    border-radius: 0.5rem;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s 0.3s;
  }

  &__img {
    display: block;
    width: 100%;
    @include respond(tab-land) {
      display: inline;
      width: 49%;
    }
  }

  &__left {
    width: 34%;
    display: table-cell;
    @include respond(tab-land) {
      display: block;
      width: 100%;
    }
    @include respond(tab-port) {
      display: none;
    }
  }

  &__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    @include respond(tab-land) {
      display: block;
      width: 100%;
    }
    @include respond(tab-port) {
      text-align: center;
      display: absolute;
      width: 100%;
    }
  }

  &__text {
    font-size: 1.4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-gray-dark-2;

    -webkit-column-count: 2;
    -webkit-column-gap: 4rem;
    -webkit-column-rule: 1px solid $color-gray-dark-2;

    -ms-column-count: 2;
    -ms-column-gap: 4rem;
    -ms-column-rule: 1px solid $color-gray-dark-2;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-gray-dark-2;

    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; //Must have language documented in html document ex: <html lang="en">
    @include respond(tab-port) {
      text-align: left;
    }
  }

  &__close {
    color: $color-gray-dark;
    text-decoration: none;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    line-height: 1;
    display: inline-block;

    &:hover {
      color: $primary-color;
    }
  }

  //Functionality
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    //   opacity: 1;
  }
}
