/* --------------------------------------------------------- Animations to be used in the website --------------------------------------------------------- */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    /* transform: translateX(-100px); */
    transform: translateX(-10rem);
  }

  80% {
    /* transform: translateX(10px); */
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    /* transform: translateX(+100px); */
    transform: translateX(+10rem);
  }

  80% {
    /* transform: translateX(-10px); */
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRightOffScreen {
  0% {
    opacity: 0;
    /* transform: translateX(+100px); */
    transform: translateX(+205rem);
  }

  80% {
    /* transform: translateX(-10px); */
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    /* transform: translateY(50px); */
    transform: translateY(5rem);
  }

  80% {
    /* transform: translateY(-10px); */
    transform: translateY(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    /* transform: translateY(50px); */
    transform: translateY(-5rem);
  }

  80% {
    /* transform: translateY(-10px); */
    transform: translateY(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes easeOutBounce {
  0% {
    transform: translateX(0%);
  }

  12% {
    transform: translateX(-10.89%);
  }

  24% {
    transform: translateX(-43.56%);
  }

  36% {
    transform: translateX(-98.01%);
  }

  54% {
    transform: translateX(-75.02%);
  }

  74% {
    transform: translateX(-98.37%);
  }

  82% {
    transform: translateX(-93.75%);
  }

  92% {
    transform: translateX(-99.34%);
  }

  96% {
    transform: translateX(-98.46%);
  }

  100% {
    transform: translateX(-100%);
  }
}
