*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1 rem is
  font-size: 62.5%; //1 rem = 10px  --> 62.5% of 16px(default browser font-size) = 10px

  // width < 1200?
  @include respond(tab-land) {
    // 1 rem needs to be 9px --> 9/16 = 56.25%
    font-size: 56.25%;
  }

  //width < 900?
  @include respond(tab-port) {
    // 1 rem needs to be 8px --> 8/16 = 50%
    font-size: 50%;
  }

  // width > 1800?
  @include respond(desktop) {
    // 1 rem needs to be 12px --> 12/16 = 75%
    font-size: 75%;
  }
}

body {
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0rem;
  }

  box-sizing: border-box;
}

::selection {
  background-color: $primary-color;
  color: $color-white;
}
