.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($primary-color-light, 0.7),
      rgba($primary-color-dark, 0.7)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  -webskit-clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 5vh;
    animation: moveInTop 1.5s 1s ease-out backwards;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
